.Components-unordered-list {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style: none;
}

.Components-list {
  margin: 0.5rem 1rem;
}

.Components-list a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.089);
}

.Components-list a:hover {
  background-color: rgba(0, 0, 0, 0.089);
}

.HomePage {
  text-align: center;
  font-family: sans-serif;
}