@grid-template-auto: auto;
@grid-template-1fr: 1fr;
@tablet: 668px;
@mobile: 476px;

.main-container {
    display:               grid;
    grid-template-areas: 
      "main main main"
      "main main main";
    grid-template-columns: @grid-template-auto 97% @grid-template-auto;
    grid-template-rows:    @grid-template-auto @grid-template-1fr;
  }
  
  .main { grid-area: main; }
  
  @media (min-width: @tablet) {
    .main-container {
      grid-template-areas: 
        "main main"
        "main main";
      grid-template-columns: @grid-template-auto 98%;
      grid-template-rows:    @grid-template-1fr @grid-template-1fr;
    }
  }
  
  @media (min-width: @mobile) {
    .main-container {
      grid-template-areas: 
      "main"
      "main"
      "main";
      grid-template-columns: 98%;
      grid-template-rows:    @grid-template-auto @grid-template-1fr @grid-template-1fr;
    }
  }
  
  .main-container {
    grid-gap: .7em;
  }
  
  @media (min-width: @tablet) {
    .main-container {
      grid-gap: 2.3em;
    }
  }
  
  @media (min-width: @mobile) {
    .main-container {
      grid-gap: 1.2em;
    }
  }